
    body {
      font-family: 'Inter', sans-serif;
      background-color: #fff;
      margin: 0;
      padding: 0;
    }

    .navbar {
      padding: 1rem 2rem;
    }

    .navbar-brand {
      font-weight: 600;
    }

    .nav-link {
      color: #000 !important;
      font-weight: 500;
      margin: 0 0.5rem;
    }
    .btn-style{
      padding: 10px 20px !important; 
    }
    .btn-primary {
      background-color: #2563eb;
      border: none;
      font-weight: 600;
      border-radius: 2rem;
      padding: 15px 16px;
      
    }

    .btn-light {
      background-color: #f3f4f6;
      font-weight: 600;
      border-radius: 2rem;
      padding: 15px 16px;
    }
    
    .hero-img {
      max-width: 100%;
      border-radius: 1rem;
    }

    .hero h1 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .hero p {
      font-size: 1rem;
      color: #4b5563;
    }

    .features h2 {
      font-size: 2rem;
      font-weight: 700;
    }

    .features p.lead {
      font-size: 1rem;
      color: #4b5563;
    }

    .card {
      border: 1px solid #e5e7eb;
      border-radius: 1rem;
      padding: 1.5rem;
      height: 100%;
    }

    footer {
      padding: 2rem 0 1rem;
      text-align: center;
      font-size: 1.1rem;
      color: #6b7280;
      margin-bottom: 20px;
    }

    footer a {
      color: #6b7280;
      text-decoration: none;
      margin: 0 1rem;
    }
 
    .linksitos{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      column-gap: 200px ;
    }